extends layout
block content
  .header
    h2= title
  .menu
    h3= 'here comes search bar'
  .main
    table
      tr
        th Student Name
        th Gender
        th Class Level
        th Home State
        th Major
      each val in data
        tr
          td
            a(href=`/student/${val.id}`) #{val.studentName}
          td
            span= val.gender
          td
            span= val.classLevel
          td
            span= val.homeState
          td
            span= val.major


