mixin editForm(student)
  form.form(action=`/edit/${student.id}` method="POST")
    label(for="name") Student Name:
    input(type="text" name="studentName" value=student.studentName)
    br
    br
    label(for="gender") Gender:
    input(type="text" name="gender" value=student.gender)
    br
    br
    label(for="classLevel") Class Level:
    input(type="text" name="classLevel" value=student.classLevel)
    br
    br
    label(for="homeState") Home State:
    input(type="text" name="homeState" value=student.homeState)
    br
    br
    label(for="major") Major:
    input(type="text" name="major" value=student.major)
    br
    br
    input(type="hidden", name="id" value=student.id)
    input(type="submit", class="button",value="Save")
